:root {
    --background-color-light: white;
    --text-color-light: black;
    --background-color-dark: black;
    --text-color-dark: white;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: larger;
    font-weight: 300;
    color: var(--color)
}

body {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    transition: background-color 2s ease, color .5s ease;
}

.dark-mode {
    transition: background-color 2s ease, color .5s ease;
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

a {
    text-decoration: none;
    color: #1565c0;
}

i:hover {
    color: #217ee7;
}

h1 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.25rem;
}

p {
    font-size: .75rem;
    letter-spacing: 0.15rem;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 520px;
    padding: 32px;
    line-height: 1.6em;
}

.avatar {
    border-radius: 50%;
    width: 150px;
}

#inner {
    border-top: thin solid;
    border-bottom: thin solid;
    padding: .5rem 2.25rem;
}

.icons {
    list-style-type: none;
    font-size: x-large;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 50%;
    max-width: 320px;
    margin: 1em auto;
}

.icons li {
    display: inline;
    width: 42px;
}

.icons a {
    color: inherit
}

.icons a:hover {
    color: #1565c0;
}

#dark-mode-toggle {
    position: fixed;
    right: 0rem;
    margin: .25rem;
    border: none;
    color: inherit;
    background-color: inherit;
}
